/* Define CSS variables for common values */
:root {
  --box-shadow: 4px 4px 5px 0px rgba(94, 94, 94, 1);
}

/* Grid Styles */
.grid1,
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Added this line to define three columns */
  box-shadow: var(--box-shadow);
  margin: 2rem;
  padding: 1rem;  
  background-color: white;
}

.main1,
.main2,
.side1,
.side2 {
  height: auto;
  display: flex;
  padding: 0 1rem 3rem 1rem;
}

.main1 {
  grid-column: span 2;
}

.side2 {
  grid-column: span 2;
}

/* CSS to set height and weight to the images on page */

.grid1 img,
.grid2 img {
  box-shadow: var(--box-shadow);
  border: var(--subtle-border);
}

/* CSS to vertically align h2 title of the products */

h2.vert {
  display: inline-block;
  line-height: 1.2;
  font-size: 2.4rem; /* Adjust font size as needed */
  font-weight: bold;
  text-align: center; /* Center the text within each h2 element */
  margin-bottom: 0.2rem; /* Adjust margin for spacing between h2 elements */
  text-transform: uppercase;
  padding: 0 1rem 0 1rem;
}

h2.vert::first-letter {
  font-size: 2.4rem;
  font-weight: bold;
}

h2.vert::after {
  content: "\A";
  white-space: pre;
  display: block;
}

/* Media query for responsiveness on small screens */
@media screen and (max-width: 767px) {
  .grid1,
  .grid2 {
    grid-template-columns: 1fr; /* Set a single column for small screens */
    column-gap: 0; /* Remove column gap on small screens */
    margin-bottom: 10px; /* Add some margin for better spacing */
  }

  .main1,
  .main2,
  .side1,
  .side2 {
    grid-column: span 1; /* Reset the grid-column span for small screens */
  }
}
