/* Product Modals */
.product-modal {
  box-sizing: border-box;
  display: none;
  position: fixed; /* Use fixed position to keep it centered on the screen */
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%); /* Center the modal horizontally and vertically */
  width: 80vw;
  height: 80vh;
  overflow: auto;
  background-color: #fefefe;
  border: 1px solid #3f84c5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a drop shadow with desired properties */
}

.modal-content {
  background-color: #fefefe;
  margin: calc(8px + 1.5625vw) auto;
  padding: 5vh 5vw 5vh 5vw;
  width: 100%;
}

.close {
  color: transparent;
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Media query for responsiveness on small screens */
@media screen and (max-width: 767px) {
  .modal-content {
    padding: 5vh; /* Adjust the padding for smaller screens */
  }
  .description {
    font-size: 1rem; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height for better readability */
  }
}
