/* Grid Styles */
.grid1,
.grid2 {
  display: grid;
  column-gap: calc(8px + 1.5625vw);
  grid-template-columns: 1fr 1fr 1fr; /* Added this line to define three columns */
  margin-bottom: calc(8px + 1.5625vw);
  padding: 1%;

}

.main1,
.main2,
.side1,
.side2 {
  height: auto;
}

.main1 {
  grid-column: span 2;
}

.side2 {
  grid-column: span 2;
}

/* Media query for responsiveness on small screens */
@media screen and (max-width: 767px) {
  .description {
    font-size: 1rem; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height for better readability */
  }
}
