.slider-container {
  height: 100%; /* Adjust as needed */
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  max-height: 100%;
  object-fit: fill;
  width: 100%;
  display: block;
  margin: auto;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-10vh);
  font-size: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

/* Media Query for Mobile Screens */
@media (max-width: 767px) {
  .slider-container {
    height: 25vh; /* Adjust as needed for mobile screens */
    margin-bottom: -10vh;
  }

  .slide img {
    max-height: 25vh;
  }

  /* Media query for smaller screens (adjust as needed) */
  @media screen and (max-width: 768px) {
    button {
      font-size: 2rem; /* Adjust the font size for smaller screens */
      transform: translateY(-5vh); /* Adjust the translateY value as needed */
    }
  }
}
